.current-move {
  padding: 24px;
}

.app-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.right-side {
  width: 400px;
  padding-top: 26px;
  padding-left: 24px;
  color: #282c34;
  background: aqua;
}

.logo-block {
  display: flex;
  align-items: center;
}

.x {
  color: red;
}

.o {
  color: blue;
}
