
.app {
  display: flex;
  flex-flow:row wrap;
  height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}




.boxValue {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  grid-template-rows: repeat(3, 60px);
  grid-gap: 2px;
}

.boxValue > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  color: #000;
  background-color: #fff;
}



.content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-grow: 1;
}


